*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}


header{
    margin-top: 10px;
    width: 1920;
    height: 50px;
    display: inline-block;
    position: relative;
}
.logo{
    width: 50px;
}

.header-text{
    font-size: xx-large;
    font-weight:bold;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
  }


.container{
    width: 1400px;
    margin:auto;
    margin-top: 50px;
    position: relative;
}

.button{
    width: 30;
    padding: 5px;
    border-radius: 5px;
    
}

.uno{
    color: white;
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
    
}
.due{
    color: rgba(128, 128, 128, 0.74);
    border: 1px solid rgba(128, 128, 128, 0.74);
}

.list{
    margin-top: 30px;;
}
.item-title{
    color: rgb(78, 78, 78);
}
.symbol{
    border-radius: 100%;
    padding: 3px;
    margin-top: 5px;
    font-weight:bold;
    font-size: xx-small;
    vertical-align: text-top;
}
.spunta{
    color: rgb(0, 192, 150);
    border: 1px solid rgb(0, 192, 150);
}

.x{
    color: rgb(192, 0, 0);
    border: 1px solid rgb(192, 0, 0);
}

ul{
    color: rgb(78, 78, 78);
    list-style:none;
}

.tag{
    width: 30;
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-size:xx-small;
    vertical-align:middle;
    
}

.editorial{ 
    background-color: cornflowerblue;
}

.q1{
    background-color: rgb(101, 31, 151);
}

.recruiting{
    background-color: rgb(21, 160, 153);
}

.mobile{
    background-color:rgb(228, 104, 59);
}

.sales{
    background-color: cornflowerblue;
}